---
import Section from '@/layouts/Section.astro'
import Layout from '@/layouts/Layout.astro'
import CategoryCard from '@/components/CategoryCard.astro'

const baseUrl = import.meta.env.BASE_URL
---

<Layout title='Muebles WF'>
  <Section title='Variedad en Muebles'>
    <CategoryCard
      title='Habitaciones'
      description='Transformamos tus espacios personales en santuarios de confort y estilo con nuestros muebles personalizados para habitaciones.'
	  image='bedroom-type.jpeg'
    url={baseUrl+'/bedroom'}
    />
    <CategoryCard
      title='Cocinas'
      reverse
      description='Descubre nuestras soluciones de mobiliario para cocinas, combinando funcionalidad y diseño para crear el corazón de tu hogar.'
	  image='kitchen-type.jpeg'
    url={baseUrl+'/kitchen'}
    />
    <CategoryCard
      title='Baños'
      description='Dale un toque de elegancia y modernidad a tu baño con nuestros muebles diseñados a medida.'
	  image='bathroom-type.jpeg'
    url={baseUrl+'/bathroom'}
    />
    <CategoryCard
      title='Oficinas'
      reverse
      description='Optimizamos tu espacio de trabajo con muebles ergonómicos y sofisticados, perfectos para cualquier oficina.'
	  image='office-type.jpeg'
    url={baseUrl+'/office'}
    />
    <CategoryCard
      title='Otros'
      description='Explora nuestras diversas soluciones de mobiliario para cualquier otra área de tu hogar o negocio.'
	  image='other-type.jpeg'
    url={baseUrl+'/other'}
    />
  </Section>
</Layout>
