---
const baseUrl = import.meta.env.BASE_URL
interface Props{
    title: string
    description: string
    image: string
    reverse?: boolean
    url?: string
}

const {title, description, image, reverse, url} = Astro.props
---
<a href={url} class:list={['group flex h-[420px] w-[76%] bg-white rounded-2xl overflow-hidden duration-1000 border border-gray-200 shadow-md p-0 hover:scale-105 hover:bg-white', !reverse || "flex-row-reverse"]}>

  <div class='h-full flex-1 duration-300 group-hover:flex-none group-hover:w-0'>
    <img
      class='h-full w-full object-fill'
      src={baseUrl + '/images/'+image}
      alt=''
    />
  </div>
  <div class='flex-1'>
    <div class="h-full p-10 flex flex-col items-center justify-center gap-6">
      <h3 transition:name={'section-title-'+title} class="text-5xl font-semibold" >{title}</h3>
      <p class="text-center text-2xl font-normal">
        {description}
      </p>
    </div>
  </div>
<a/>
<style>
  .hidden-card {
    
  }

  .show-card {
    opacity: 1;
    transform: scale(1);
  }
</style>


