---
---

<footer class="bg-[#a3a3a3] h-[33vh] p-4">
    <a target="_blank" href="https://icons8.com/icon/16713/whatsapp">WhatsApp</a> icono de <a target="_blank" href="https://icons8.com">Icons8</a>
</footer>