---
import Products from '@/components/Products.astro'
import Layout from '@/layouts/Layout.astro'
import Section from '@/layouts/Section.astro'
import data from '@/data/bedroom-data'

const baseUrl = import.meta.env.BASE_URL
---

<Layout title='Habitaciones'>
  <Section title='Habitaciones' >
        
    <Products section='bedroom' data={data}/>
    <a href={baseUrl}>Volver</a>
  </Section>
</Layout>
