---
import Products from '@/components/Products.astro'
import Layout from '@/layouts/Layout.astro'
import Section from '@/layouts/Section.astro'
import data from '@/data/kitchen-data'

const baseUrl = import.meta.env.BASE_URL
---

<Layout title='Cocinas'>
  <Section title='Cocinas' >
    <Products data={data} section='kitchen'/>
        <a href={baseUrl}>Volver</a>
  </Section>
</Layout>
